DATABASE_URL=postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}
DB_HOST=localhost
DB_USER=db_user
DB_PASS=db_pass
DB_NAME=db_name
DB_PORT=5432
AUTH_SECRET=generate-auth-secret
AUTH_GOOGLE_ID=add-your-google-client-id-here
AUTH_GOOGLE_SECRET=add-your-google-secret-here

PUBLIC_CONTACT_EMAIL=PUBLIC_CONTACT_EMAIL
PUBLIC_FACEBOOK_PAGE=PUBLIC_FACEBOOK_PAGE
PUBLIC_FACEBOOK_AUTHOR_PAGE=PUBLIC_FACEBOOK_AUTHOR_PAGE
PUBLIC_GITHUB_PAGE=PUBLIC_GITHUB_PAGE
PUBLIC_LINKEDIN_PROFILE=PUBLIC_LINKEDIN_PROFILE
PUBLIC_TELEGRAM_USERNAME=PUBLIC_TELEGRAM_USERNAME
PUBLIC_TWITTER_USERNAME=PUBLIC_TWITTER_USERNAME
PUBLIC_TWITTER_USER_ID=PUBLIC_TWITTER_USER_ID
PUBLIC_DOMAIN="example.com"
PUBLIC_SITE_URL="https://example.com"
REDIS_PORT=6379
REDIS_URL=redis://localhost:${REDIS_PORT}
YOUTUBE_API_KEY=insert-your-youtube-api-key-here