.DS_Store
docker-data/
node_modules
prisma
/build
/package
/.svelte-kit
.env
.env.*
!.env.example
.typesafe-i18n.json
!*.cjs
src/lib/i18n/*.ts

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock